.Navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  color: black;
  height: 55px;

  .Navbar-left,
  .Navbar-right {
    display: flex;
    align-items: center;

    .Navbar-container {
      display: inherit;
    }
    .Navbar-container-active,
    .Navbar-container:hover {
      display: inherit;
      text-shadow: 0px 0px 1px black;
      border-bottom: 2px solid #a30786;
    }

    a {
      margin: 0 8px;
      color: black;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .Navbar-right {
    padding-right: 10px;

    .Navbar-user-context {
      display: flex;
      align-items: center;
      .Navbar-account-net {
        background-color: #a30786;
        border: 1px solid #a30786;
        padding: 8px 15px;
        border-radius: 12px;
        color: #ffffff;
        font-weight: 600;
        margin-right: 10px;
      }

      .Navbar-account-addr {
        display: flex;
        align-items: center;
        border: 2px solid #a30786;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: 600;
      }
    }

    .Navbar-connect-button {
      background-color: #a30786;
      border: 1px solid #a30786;
      border-radius: 12px;
      padding: 10px 15px;
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: #940678;
      }
    }
  }
}

.AlgoSigner-logo-nav {
  display: block;
  margin-right: 4px;
  height: 25px;
}

.App-logo-nav {
  padding-left: 10px;
  margin-right: 8px;
  height: 16px;
}
