.TokenAmount {
  display: flex;
  flex-direction: column;
  border: 1px solid #444444;
  border-radius: 12px;
  padding: 16px;
}

.TokenAmount-title {
  margin: 0 0 12px 0;
  font-size: 16px;
  text-align: left;
}

.TokenAmount-content {
  display: flex;
  align-items: center;
}

.TokenAmount-amount {
  background-color: transparent;
  border: none;
  outline: none;
  color: #eeeeee;
}
