.SwapComponent {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 420px;
  border-radius: 30px;
  border: 2px solid lightgray;
  padding: 20px 1.5rem 20px 1.5rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);

  .SwapComponent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .SwapComponent-arrow {
    font-size: 16px;
  }

  .SwapComponent-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: gray;
    margin-top: 25px;
    padding: 0px 20px;
  }

  .SwapComponent-bottom {
    margin-top: 25px;

    .SwapComponent-button {
      background-color: #a30786;
      color: #ffffff;
      padding: 10px 15px;
      width: 100%;
      height: 100%;
      font-size: 18px;
      border: 1px solid #a30786;
      border-radius: 12px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: #940678;
      }
    }

    .SwapComponent-button-disabled {
      background-color: lightgray !important;
      border: 1px solid lightgray !important;
    }
  }

  .Settings-button {
    background-color: transparent;
    border: transparent;
    outline: none;

    .Settings-logo {
      height: 25px;
    }
  }
}
