.Wallet-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  .Wallet-modal-header {
    display: flex;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    font-weight: 700;
    .Wallet-modal-header-image {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
  }

  .Wallet-modal-select {
    background-color: transparent;
    border: 2px solid lightgray;
    margin: 15px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;

    .Wallet-modal-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }

    &:hover {
      border: 2px solid #a30786;
    }
  }

  .Wallet-logo-modal {
    height: 45px;
  }
}
